<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.rss.widget" android:versionCode="1" android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">


		<receiver android:name=".RssWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/rss_widget_info"></meta-data>
		</receiver>
		<activity android:name=".RssConfigureActivity">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"></action>
			</intent-filter>
		</activity>
	</application>


</manifest> 